@model Praktyki.Models.InternModel

@if (@ViewData["IsOk"] != null)
{
    <div class="space text-center alert alert-success">
        @ViewData["TotalData"]
    </div>

    <div class="text-center">
        <h2>Your data:</h2>
    </div>


    <table class="table table-striped space">
        <tr>
            <th>First name</th>
            <th>Second name</th>
            <th>About</th>
        </tr>
        <tr>
            <th>@Model.FirstName</th>
            <th>@Model.LastName</th>
            <th>@Model.About</th>
        </tr>
    </table>
}
else
{
    <div class="space text-center alert alert-danger">
        @ViewData["TotalData"]
    </div>

}

